<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Calculadora - T200</title>
    <link rel="stylesheet" type="text/css" href="css/calculadora.css" />
  </head>
  <body>
    <h2>Hola mundo con Node-Express-ejs -- Heroku</h2><hr/>
    <nav>
      <ul>
        <li><a href="/">Inicio</a></li>
        <li><a href="/calcuadrado">Calcular Cuadrado</a></li>
      </ul>
    </nav>
  </body>
</html>
