body{
  background-color:#ccf2cc;
}

#divrespuesta{
  background-color:#aaeaaa;
  font-size:20px;
}

#diverror{
border: 1px red;
background-color: #fef1ec;
font-color:red;
font-size:20px;
}

a:hover {
font-size:19px;
}

a {
font-size:18px;
color:blue;
}

input:focus{
  background-color:#fef1ec;

}

#boton{
background-color:#263690;
color:white;
height:25px;
width: 100px;
font-size:12px;
}

#boton:hover{
background-color:#5766B7;
border: solid 1px black;
}
