body{
  background-color:#ccf2cc;
}

#escondido{
  background-color:#aaeaaa;
  font-size:20px;
  color:darkblue;
}

a:hover {
font-size:19px;
}

a {
font-size:18px;
color:blue;
}

input:focus{
  background-color:#aaeaaa;

}
